<!-- Loader -->
<div *ngIf="appSerivce.loading" class="loader-container">
  <div class="loader"></div>
</div>

<!-- App -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><div routerLink="" class="logo"></div></mat-toolbar>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="" class="menu-item"><mat-icon matListIcon>home</mat-icon> Home</a>
      <a mat-list-item routerLink="posts" class="menu-item"><mat-icon matListIcon>rss_feed</mat-icon> POSTAGENS</a>
      <a mat-list-item routerLink="albuns" class="menu-item"><mat-icon matListIcon>album</mat-icon> ALBUNS</a>
      <a mat-list-item routerLink="todos" class="menu-item"><mat-icon matListIcon>task_alt</mat-icon> TO-DOs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Desafio Framework</span>
    </mat-toolbar>
    
    <!-- Conteúdo das paginas -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>   
    
  </mat-sidenav-content>
</mat-sidenav-container>

