<mat-card>
    <div class="d-flex align-itens-center justyfy-center flex-column">
        <h1>Olá Avaliador <img class="ml-3" src="../../../assets/svg/logo.svg"></h1>
        
        <h2>Seja bem ao meu teste da Framework!</h2>
        <h3>Sinta-se a vontade para passear nos Menus laterais, e conferir tudo que foi desenvolvido.</h3>

    </div>
</mat-card>

<mat-card class="example-card mt-2">
    <mat-card-header>
      <div mat-card-avatar class="image-card-joao"></div>
      <mat-card-title>João Paulo Naberezny</mat-card-title>
      <mat-card-subtitle>Desenvolvedor Web</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        Este projeto foi desenvolvido com o framework Angular 8, juntamente com o Angular Material 8.2.3.        
      </p>
      <p>O link do projeto está no meu: <a href="https://github.com/naberezny/framework-desafio">GitHub</a>.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  