/* You can add global styles to this file, and also import other style files */

:root {
    --cor-primaria: #5f3473;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mb-2 {
    margin-bottom: 10px !important;
}

.mb-3 {
    margin-bottom: 15px !important;
}

.mr-2 {
    margin-right: 10px !important;
}

.mt-2 {
    margin-top: 10px !important;
}

.mr-3 {
    margin-right: 15px;
}

.ml-3 {
    margin-left: 15px;
}

.d-flex {
    display: flex;
}

.align-itens-center {
    align-items: center;
}

.justyfy-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.col-sm-3 {
    width: 25%;
}

.ver-mais-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-ver-mais {
    display: flex;
    align-items: center;
    border: solid purple 1px;
    border-radius: 50px;
    padding: 8px 15px;
    font-size: 1.5rem;
    background: #8000800f;
    color: purple;
    cursor: pointer
}

.btn-ver-mais:hover {
    border: solid purple 1px;
    background: purple;
    color: white;
}